.header {
    
    width: 100%;
    height: 65px;
    
    nav {
        background-color: $transparent;
        box-shadow: none;
        margin: 0;
        a {
            color: $dark-blue !important;
        }
    }
}