.main {
    
    &-welcome {

        min-height: 500px;
        padding: 10% 0;
        
        &--content {
            text-align: center;
    
            h1 {
                margin-top: 0.5em;
            }
            h2 {
                margin-top: 1em;
            }
            h4 {
                margin-top: 1em;
            }
        }

    }
    
}