.projects {

    &-title {
        margin: 0.5em 0;
    }

    &-slice {
        background-color: $light-blue;

        .row {
            margin-bottom: 0;
        }

        .container {
            padding-bottom: 2em;
        }
    }

}

.card-title {
    color: $dark-blue !important;
}

.btn-floating i {
    color: $dark-blue;
}